<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			Weather Cast
		</title>
	</head>
	<body>
		<header style="padding-top:100px">	
			<div style="
			height: 280px;
			width: 450px;
			background-color: #f8e198;
			align: center;
			border: 3px solid grey;
			margin: auto;">

				<form style="text-align: center; padding-top: 80px;" action="/">
					<input style="text-align: center" type="text" name="address" value="Address"><br><br><br>
					<input type="submit" value="Submit">
					<input type="reset" value="Reset">
				<form>
			</div>
			<p style="text-align: center; margin : down"> &#169 Satyam Uttam</p>
		</header>
	<body>
</html>